<?xml version="1.0"?>
<config>
    <modules>
        <SM_Setup>
            <version>0.1.2</version>
        </SM_Setup>
    </modules>
    <global>
        <resources>
            <sm_setup_setup>
                <setup>
                    <module>SM_Setup</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </sm_setup_setup>
        </resources>
    </global>
</config>